<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.ufc.quixada.dsdm.meempresta">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".Auth.SignupActivity"
                android:label="@string/txt_signup"
                android:parentActivityName=".Auth.LoginActivity"/>

        <activity android:name=".Auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".DealActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/deal"/>
        <activity
                android:name=".RequestActivity"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".AboutAppActivity"
                android:parentActivityName=".MainActivity"
                android:label="@string/txt_about"/>
        <activity
                android:name=".EditProfileActivity"
                android:parentActivityName=".MainActivity"
                android:label="@string/txt_edit_profile"/>
    </application>

</manifest>
