<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.ufc.quixada.dsdm.meempresta">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Auth.SignupActivity" android:resizeableActivity="true"
                  android:parentActivityName=".Auth.LoginActivity"/>
        <activity android:name=".Auth.LoginActivity" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/txt_settings"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".RequestActivity"
                android:parentActivityName=".MainActivity"
                android:resizeableActivity="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".AboutAppActivity"
                android:label="@string/txt_about"
                android:parentActivityName=".SettingsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".EditProfileActivity"
                android:label="@string/txt_edit_profile"
                android:parentActivityName=".SettingsActivity"
                android:screenOrientation="portrait"/>
    </application>

</manifest>